<!DOCTYPE HTML>
<html>
<head>
    <title>About my work</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <!-- Header -->
    <header id="header" class="preview">
        <div class="inner">
            <div class="content">
            </div>
            <a href="~/Home/Index" class="button hidden"><span>Let's Go</span></a>
        </div>
    </header>

    <!-- Main -->
    <div id="preview" class="vertical">
        <div class="inner">
            <div class="image fit">
                <img src="~/images/pic21.PNG" alt="" />
            </div>
            <div class="content">
                <header>
                    <h2>About me and my work</h2>
                </header>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec est ligula, ultrices id posuere vitae, rutrum in tellus. Suspendisse vitae aliquam metus. Cras blandit, tortor ut eleifend porttitor, urna lacus porttitor arcu, quis vestibulum metus dolor ut neque. Aenean et nisi venenatis, mollis enim eget, pharetra nunc. Sed blandit non mi nec ultrices. Vestibulum hendrerit tortor id gravida eleifend. Morbi vitae molestie odio. Etiam nec est vel sapien posuere vulputate eget eget mi. Quisque vulputate ligula velit, id accumsan dui fringilla nec. Morbi nisi mauris, placerat sit amet feugiat nec, vehicula ut ex.</p>
            </div>
        </div>
        <a href="~/Home/Details" class="nav previous"><span class="fa fa-chevron-left"></span></a>
        <a href="~/Home/Details2" class="nav next"><span class="fa fa-chevron-right"></span></a>
    </div>

    <!-- Footer -->
    <!-- Footer -->
    <footer id="footer">
        <a href="#" class="info fa fa-info-circle"><span>About</span></a>
        <div class="inner">
            <div class="content">
                <h3>Me, myself and I</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec est ligula, ultrices id posuere vitae, rutrum in tellus. Suspendisse vitae aliquam metus. Cras blandit, tortor ut eleifend porttitor, urna lacus porttitor arcu, quis vestibulum metus dolor ut neque. Aenean et nisi venenatis, mollis enim eget, pharetra nunc. Sed blandit non mi nec ultrices. Vestibulum hendrerit tortor id gravida eleifend. Morbi vitae molestie odio. Etiam nec est vel sapien posuere vulputate eget eget mi. Quisque vulputate ligula velit, id accumsan dui fringilla nec. Morbi nisi mauris, placerat sit amet feugiat nec, vehicula ut ex.</p>
            </div>
            <div class="copyright">
                <h3>Follow me</h3>
                <ul class="icons">
                    <li><a href="https://www.instagram.com/cristea.adr/" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="https://www.facebook.com/AdrianPH12/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="https://www.instagram.com/cristea.adr/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                </ul>
                &copy; Day  @DateTime.Now.Year
            </div>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/skel.min.js"></script>
    <script src="~/js/util.js"></script>
    <script src="~/js/main.js"></script>

</body>
</html>