<!DOCTYPE HTML>
<html>
<head>
    <title>Day Photography</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <!-- Header -->
    <header id="header">
        <div class="inner">
            <div class="content">
                <h1>Explore my art</h1>
                <h2>
                    Adrian PH<br />
                    let me tell you a short story about myself and my biggest passion
                </h2>
                <a href="#" class="button big alt"><span>Let's Go</span></a>
            </div>
            <a href="#" class="button hidden"><span>Let's Go</span></a>
        </div>
    </header>

    <!-- Main -->
    <div id="main">
        <div class="inner">
            <div class="columns">

                <!-- Column 1 (horizontal, vertical, horizontal, vertical) -->
                <div class="image fit">
                    <a href="~/Home/Details"><img src="~/images/pic1.png" alt="" /></a>
                </div>
                <div class="image fit">
                    <a href="~/Home/Details2"><img src="~/images/pic2.png" alt="" /></a>
                </div>
                <div class="image fit">
                    <a href="~/Home/Details"><img src="~/images/pic3.png" alt="" /></a>
                </div>
                <div class="image fit">
                    <a href="~/Home/Details2"><img src="~/images/pic4.png" alt="" /></a>
                </div>
                <div class="image fit">
                    <a href="~/Home/Details"><img src="~/images/pic17.png" alt="" /></a>
                </div>

                <!-- Column 2 (vertical, horizontal, vertical, horizontal) -->
                <div class="image fit">
                    <a href="~/Home/Details2"><img src="~/images/pic6.png" alt="" /></a>
                </div>
                <div class="image fit">
                    <a href="~/Home/Details"><img src="~/images/pic5.png" alt="" /></a>
                </div>
                <div class="image fit">
                    <a href="~/Home/Details2"><img src="~/images/pic8.png" alt="" /></a>
                </div>
                <div class="image fit">
                    <a href="~/Home/Details"><img src="~/images/pic7.png" alt="" /></a>
                </div>
                <div class="image fit">
                    <a href="~/Home/Details2"><img src="~/images/pic18.png" alt="" /></a>
                </div>

                <!-- Column 3 (horizontal, vertical, horizontal, vertical) -->
                <div class="image fit">
                    <a href="~/Home/Details"><img src="~/images/pic9.png" alt="" /></a>
                </div>
                <div class="image fit">
                    <a href="~/Home/Details2"><img src="~/images/pic12.png" alt="" /></a>
                </div>
                <div class="image fit">
                    <a href="~/Home/Details"><img src="~/images/pic11.png" alt="" /></a>
                </div>
                <div class="image fit">
                    <a href="~/Home/Details2"><img src="~/images/pic10.png" alt="" /></a>
                </div>
                <div class="image fit">
                    <a href="~/Home/Details"><img src="~/images/pic19.png" alt="" /></a>
                </div>

                <!-- Column 4 (vertical, horizontal, vertical, horizontal) -->
                <div class="image fit">
                    <a href="~/Home/Details2"><img src="~/images/pic13.png" alt="" /></a>
                </div>
                <div class="image fit">
                    <a href="~/Home/Details"><img src="~/images/pic14.png" alt="" /></a>
                </div>
                <div class="image fit">
                    <a href="~/Home/Details2"><img src="~/images/pic15.png" alt="" /></a>
                </div>
                <div class="image fit">
                    <a href="~/Home/Details"><img src="~/images/pic16.png" alt="" /></a>
                </div>
                <div class="image fit">
                    <a href="~/Home/Details2"><img src="~/images/pic20.png" alt="" /></a>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer id="footer">
        <a href="#" class="info fa fa-info-circle"><span>About</span></a>
        <div class="inner">
            <div class="content">
                <h3>Me, myself and I</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec est ligula, ultrices id posuere vitae, rutrum in tellus. Suspendisse vitae aliquam metus. Cras blandit, tortor ut eleifend porttitor, urna lacus porttitor arcu, quis vestibulum metus dolor ut neque. Aenean et nisi venenatis, mollis enim eget, pharetra nunc. Sed blandit non mi nec ultrices. Vestibulum hendrerit tortor id gravida eleifend. Morbi vitae molestie odio. Etiam nec est vel sapien posuere vulputate eget eget mi. Quisque vulputate ligula velit, id accumsan dui fringilla nec. Morbi nisi mauris, placerat sit amet feugiat nec, vehicula ut ex.</p>
            </div>
            <div class="copyright">
                <h3>Follow me</h3>
                <ul class="icons">
                    <li><a href="https://www.instagram.com/cristea.adr/" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="https://www.facebook.com/AdrianPH12/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="https://www.instagram.com/cristea.adr/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                </ul>
                &copy; Day @DateTime.Now.Year
            </div>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/skel.min.js"></script>
    <script src="~/js/util.js"></script>
    <script src="~/js/main.js"></script>

</body>
</html>